body{overflow-x: hidden;}
#hiUser{color:yellow;}
#content{padding-left: 0; padding-right: 0;}
#loginRow{height:59vh;}
nav{background: #1300af;}
a.navbar-brand{width:22%;}
a.navbar-brand img{width:100%;}
div.form{text-align:left;width:fit-content;}
.footer{margin-top:2em;}
table#transactions{font-size:0.8em;}
.grafico, .hito{margin-top:2em;}
th{background:#83f9ff;}
td,th{border: 1px solid;}
tr:nth-child(even) {background-color: #d2d2d2;}
tr.profit td.result{background: rgb(36, 182, 36);}
tr.loss td.result{background: rgb(243, 83, 83);}
td.result{font-weight: bold;font-size:1.1em;}
header.is-sticky nav{border-bottom: 2px solid #00bcf1 !important;}
h2#title{margin-top:2em;}

.centered{text-align: center;}

[data-bs-theme="dark"]{
    th{color:black;}
}